.bou{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: darkgray;
}
.Menu{
  display: flex;
  background-color: grey;
  height: 80px;
}

img {
  width: 150px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 26px;
}
li {
  display: inline;
  text-decoration: none;
  padding-left: 50px;
  margin:12px; 
}
.Menu a {
  text-decoration:none;
  color: white;
  margin: 15px;
  padding: 12px;
}
.search{
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}
.rech{
  display: flex;
  justify-content: space-around;
  background-color:darkgray;
  padding: 40px;
}
.mov{
  background-color:darkgray;

}